img,
video {
  max-width: 100%;
  height: auto;
}
html {
	scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: var(--noir);
  color: var(--blanc);
  font-family: 'noto sans', sans-serif;
  font-size: var(--body-3);
  line-height: 160%;
}

h5 {
  font-family: 'paytone one';
  font-size: var(--heading-5);
  color: var(--jaune);
  margin-top: 30px;
  margin-bottom: 10px;
}
h1 {
  font-family: 'paytone one';
  font-size: var(--heading-1);
  color: var(--jaune);
  margin-top: 30px;
  margin-bottom: 40px;
  line-height: 120%;
}

figure {
  margin: 0 -20px;
  margin-top: 60px;
}
.figure__legende {
  margin-left: 1.4rem;
}

main {
  margin-top: 150px;
}
.noscroll,
.noscroll body {
  overflow: hidden;
}

.container {
  margin: 0 20px;
}
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

