.carrousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    position: relative;
    text-align: center;
    gap: 30px;
}
.carousel__image {
    padding-top: 50px;
    margin-left: 1rem;
    margin-right: 1rem;  
}

.carousel__element {
    flex: 1 0 80%;
    scroll-snap-align: start;
}
.carousel__element figure {
    margin: 0;
    
}
.carousel__texte {
    color: var(--jaune);
    font-size: var(--heading-5);
    font-family: 'paytone one';
    text-align: center;
}
.carousel::-webkit-scrollbar-track {
    background-color: var(--noir);
}

.carousel::-webkit-scrollbar {
    height: 4px;
    background-color: var(--blanc);
}

.carousel::-webkit-scrollbar-thumb {
    background-color: var(--blanc);
}